.ui-input {
    margin-bottom: 15px;
}

    .ui-input label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .ui-input input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
